body {
    background-color: rgba(60, 149, 250, 0.568);
}


/*Botones*/

@media screen and (max-width:480px) {
    body .gestion {
        margin-left: 0%;
        width: 95%;
        margin-top: 45%;
    }
    body .gestion center {
        display: block;
    }
    body #button1 {
        margin: 4px;
        width: 98%;
        padding: 7.5px 16px;
    }

    body #button2 img {
        width: 40px;
        
    height: 40px;
   
    }
    body #button3 img {
        width: 40px;
    height: 40px;
   
    }
    
    body #button2 {
        margin: 4px;
        width: 98%;
        float: right;
        font-size: 20px;
        padding: 15px 16px;
        float: left;
    }
    body #button3 {
        margin: 4px;
        width: 98%;
        padding: 7.5px 16px;
        float: left;
    }
}

.gestion {
    border-style: solid;
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin-left: 24%;
    margin-top: 10%;
    z-index: -2;
}

#button1 {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 32px;
    float: left;
    border: 2px solid #4caf50;
    transition: 0.5s;
    font-size: 25px;
    margin: 15px;
}

#button1 img{
    width: 40px;
    height: 40px;
    position:relative;
    left: 5%;
    top: 10%;
    z-index: 0;
}

#button1:hover {
    border: 2px solid black;
    background-color: rgba(76, 175, 80, 0.5);
}

#button2 {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 25px;
    border-radius: 5px;
    padding: 15px 32px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    border: 2px solid #4c93af;
    float: right;
    margin: 15px;
}

#button2 img{
width: 40px;
    height: 40px;
    position:relative;
    left: 5%;
    top: 10%;
    z-index: 0;
}

#button2:hover {
    border: 2px solid black;
    background-color: rgba(76, 147, 175, 0.5);
}

#button3 {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    padding: 15px 32px;
    border: 2px solid #189c1d;
    transition: 0.5s;
    margin: 15px;
}

#button3 img{
    width: 40px;
    height: 40px;
    position:relative;
    left: 5%;
    top: 10%;
    z-index: 0;
}

#button3:hover {
    border: 2px solid black;
    background-color: rgba(200, 209, 27, 0.5);
}


/*DIVS*/

@media screen and (max-width:480px) {
    body .faltas {
        width: 80%;
        left: 5%;
    }
    body .faltas label {
        font-size: 15px;
    }
    body .faltas .letra {
        font-size: 20px;
    }
}

@media screen and (min-width:481px) and(max-width: 700px) {
    body .faltas {
        width: 105%;
        left: 5%;
    }
    body .faltas label {
        font-size: 15px;
    }
    body .faltas .letra {
        font-size: 20px;
    }
}

.faltas {
    top: 20%;
    left: 35%;
    border-radius: 5px;
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
}

.faltas input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.faltas input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formG {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tablafa {
    position: absolute;
    display: block;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tablafa .tabla {
    position: relative;
    border-collapse: collapse;
    z-index: 2;
    width: 25%;
    left: 40%;
    top: 10%;
    background-color: white;
}

.tablafa .tabla th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

@media screen and (max-width:480px) {
    body .tablafa .tabla {
        margin-top: 0%;
        left: 0;
        width: 101%;
    }
    body .matefa {
        left: 0;
        top: 0;
        width: 90%;
        font-size: 10px;
        position: relative;
    }
}

.matefa {
    border-radius: 5px;
    width: 22%;
    background-color: #f2f2f2;
    padding: 20px;
    left: 10%;
    top: 10%;
    z-index: 6;
    position: fixed;
}

.matefa input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 1px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.matefa input[type=button] {
    width: 100%;
    background-color: #af4f4c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*navbar*/

@media screen and (max-width:480px) {
    body .lista {
        width: 50%;
        height: 100%;
        margin: 0;
        left: -100%;
        z-index: 1;
        position: fixed;
    }
    body .lista .nav-excel li {
        display: block;
        float: left;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    body .menu_bar {
        width: 100%;
        display: block;
    }
    body .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.lista {
    width: 100%;
    margin: 20px auto;
    background: white;
}

.menu_bar {
    display: none;
}

.nav-excel {
    overflow: hidden;
    list-style: none;
    height: fit-content;
}

.nav-excel li {
    float: left;
    ;
}

.nav-excel li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    margin-right: 10px;
}