table tr:hover {
    background-color: rgb(110, 110, 110);
}

table {
    position: relative;
    background-color: rgb(128, 128, 128);
    width: 85%;
    color: white;
    border-collapse: collapse;
    left: 7%;
}

.fechahora {
    font-size: 20px;
    color: rgb(211, 210, 210);
}

table td {
    font-size: 25px;
}

table th {
    background-color: rgb(126, 126, 126);
    height: 50px;
    font-size: 30px;
}