body {
    background-color: rgba(6, 59, 119, 0.568);
}

@media screen and (max-width:480px) {
    body .lista {
        width: 50%;
        height: 100%;
        margin: 0;
        left: -100%;
        z-index: 1;
        position: fixed;
    }
    body .lista .nav-excel li {
        display: block;
        float: left;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    body .menu_bar {
        width: 100%;
        display: block;
    }
    body .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.lista {
    width: 100%;
    margin: 20px auto;
    background: white;
}

.menu_bar {
    display: none;
}

.nav-excel {
    overflow: hidden;
    list-style: none;
    height: fit-content;
}

.nav-excel li {
    float: left;
    ;
}

.nav-excel li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    margin-right: 10px;
}

@media screen and (max-width:480px) {
    body .reportes {
        margin-left: 5%;
        margin-top: 5%;
        width: 80%;
    }
}

.reportes {
    margin-left: 35%;
    margin-top: 0%;
    border-radius: 5px;
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
    animation-duration: 1s;
    overflow: hidden;
    animation-name: slidein;
}

.reportes input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reportes input[type=text],
input[type=email],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}