   body {
       background-color: rgba(60, 149, 250, 0.568);
   }
   /* Popup container */
   
   .popup {
       position: relative;
       display: inline-block;
       cursor: pointer;
       color: blue;
   }
   /* The actual popup (appears on top) */
   
   .popup .popuptext {
       visibility: hidden;
       width: 160px;
       background-color: #555;
       color: #fff;
       text-align: center;
       border-radius: 6px;
       padding: 8px 0;
       position: absolute;
       z-index: 1;
       bottom: 140%;
       left: 50%;
       margin-left: -80px;
   }
   /* Popup arrow */
   
   .popup .popuptext::after {
       content: "";
       position: absolute;
       top: 100%;
       left: 50%;
       margin-left: -5px;
       border-width: 5px;
       border-style: solid;
       border-color: #555 transparent transparent transparent;
   }
   /* Toggle this class when clicking on the popup container (hide and show the popup) */
   
   .popup .show {
       visibility: visible;
       -webkit-animation: fadeIn 1s;
       animation: fadeIn 1s
   }
   /* Add animation (fade in the popup) */
   
   @-webkit-keyframes fadeIn {
       from {
           opacity: 0;
       }
       to {
           opacity: 1;
       }
   }
   
   @keyframes fadeIn {
       from {
           opacity: 0;
       }
       to {
           opacity: 1;
       }
   }
   /*al mostrar la tabla de la lista*/
   
   .tablaexcel {
       position: fixed;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
       z-index: 1;
       overflow: scroll;
   }
   /*seleccion de la lista*/
   
   @media screen and (max-width:480px) {
       body .form {
           left: 5%;
           width: 80%;
       }
   }
   
   .form {
       left: 35%;
       top: 30%;
       border-radius: 5px;
       width: 30%;
       background-color: #f2f2f2;
       padding: 20px;
       position: fixed;
       animation-duration: 1s;
       overflow: hidden;
       animation-name: slidein;
   }
   
   @keyframes slidein {
       from {
           margin-top: -30%;
       }
       to {
           top: 30%;
       }
   }
   
   .form input[type=submit] {
       width: 100%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .form input[type=file] {
       width: 100%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }
   
   @media screen and (max-width: 480px) {
       body .formu {
           width: 80%;
           font-size: 10px;
       }
   }
   
   .formu {
       left: 5%;
       top: 5%;
       border-radius: 5px;
       width: 30%;
       background-color: #f2f2f2;
       padding: 20px;
       position: fixed;
   }
   
   .formu select {
       width: 100%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }
   
   .formu input[type=button] {
       width: 100%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .conf {
       left: 30%;
       top: 10%;
       border-radius: 5px;
       width: 30%;
       background-color: #f2f2f2;
       padding: 20px;
       position: absolute;
   }
   
   .conf input[type=submit] {
       width: 100%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .confirmar {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
       z-index: 1;
   }
   /*estilo de la tabla de alumnos */
   
   @media screen and (max-width: 480px) {
       body .tablaexcel table {
           left: 5%;
           top: 50%;
           width: 90%;
       }
   }
   
   .tablaexcel table {
       position: absolute;
       border-collapse: collapse;
       width: 25%;
       left: 40%;
       background-color: white;
   }
   
   .tablaexcel table th,
   td {
       padding: 10px;
       border: 1px solid #ddd;
       text-align: left;
   }
   
   @media screen and (max-width:480px) {
       body .lista {
           width: 50%;
           height: 100%;
           margin: 0;
           left: -100%;
           z-index: 1;
           position: fixed;
       }
       body .lista .nav-excel li {
           display: block;
           float: left;
           border-bottom: 1px solid rgba(255, 255, 255, .3);
       }
       body .menu_bar {
           width: 100%;
           display: block;
       }
       body .menu_bar .bt-menu {
           display: block;
           padding: 20px;
           background: rgb(255, 255, 255);
           text-decoration: none;
           font-weight: bold;
           font-size: 25px;
           -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
           box-sizing: border-box;
       }
   }
   
   .lista {
       width: 100%;
       margin: 20px auto;
       background: white;
   }
   
   .menu_bar {
       display: none;
   }
   
   .nav-excel {
       overflow: hidden;
       list-style: none;
       height: fit-content;
   }
   
   .nav-excel li {
       float: left;
       ;
   }
   
   .nav-excel li a {
       display: block;
       color: rgb(0, 0, 0);
       padding: 20px;
       text-decoration: none;
       margin-right: 10px;
   }
   
   @media screen and (max-width:480px) {
       body .login {
           top: 8%;
           width: 70%;
           left: 10%;
           animation-name: logg;
       }
       label {
           font-size: 2em;
       }
       @keyframes logg {
           from {
               top: -100%;
           }
           to {
               top: 8%;
           }
       }
   }
   
   @media screen and(min-width:481px) and(max-width: 720px) {
       body {
           overflow: scroll;
       }
       body .login {
           top: 5%;
           width: 50%;
           position: fixed;
           left: 10%;
       }
       label {
           font-size: 2em;
       }
   }
   
   .login {
       top: 10%;
       left: 40%;
       border-radius: 5px;
       width: 20%;
       background-color: #f2f2f2;
       padding: 20px;
       position: fixed;
       animation-duration: 2s;
       animation-name: log;
   }
   
   @keyframes log {
       from {
           top: -100%;
       }
       to {
           top: 10%;
       }
   }
   
   .login input[type=text],
   input[type=password],
   select {
       width: 100%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }
   
   .login input[type=submit] {
       width: 100%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .logo img {
       width: 50%;
       margin-left: 23%;
   }
   
   .logo {
       width: 100%;
       width: fit-content;
       padding: 5px;
       background-color: white;
   }
   
   @media screen and (max-width:480px) {
       body .faltas {
           width: 80%;
           left: 5%;
       }
       body .faltas label {
           font-size: 15px;
       }
       body .faltas .letra {
           font-size: 20px;
       }
   }
   
   @media screen and (min-width:481px) and(max-width: 700px) {
       body .faltas {
           width: 105%;
           left: 5%;
       }
       body .faltas label {
           font-size: 15px;
       }
       body .faltas .letra {
           font-size: 20px;
       }
   }
   
   .faltas {
       top: 20%;
       left: 35%;
       border-radius: 5px;
       width: 30%;
       background-color: #f2f2f2;
       padding: 20px;
       position: fixed;
   }
   
   .faltas input[type=submit] {
       width: 100%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .tablafa {
       position: absolute;
       display: block;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
       z-index: 1;
       overflow: scroll;
   }
   
   @media screen and (max-width:480px) {
       body .matefa {
           left: 0;
           top: 0;
           width: 90%;
           position: fixed;
           font-size: 10px;
       }
       body .tablafa .tabla {
           position: relative;
           margin: 0;
           margin-top: 70%;
           left: 0;
           width: 100%;
       }
   }
   
   .matefa {
       top: 10%;
       left: 5%;
       border-radius: 5px;
       width: 30%;
       background-color: #f2f2f2;
       padding: 20px;
       z-index: 2;
       position: fixed;
   }
   
   .matefa input[type=submit] {
       width: 100%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .matefa .grado {
       width: 8%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }
   
   .matefa input[type=button] {
       width: 100%;
       background-color: #af4f4c;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .tablafa .tabla {
       position: relative;
       border-collapse: collapse;
       width: 25%;
       left: 40%;
       top: 10%;
       background-color: white;
   }
   
   .tablafa .tabla th,
   td {
       padding: 10px;
       border: 1px solid #ddd;
       text-align: left;
   }
   
   @media screen and (max-width:480px) {
       body .alert {
           top: 35%;
           left: 5%;
           width: 90%;
       }
       body .alert label {
           font-size: 25px;
       }
   }
   
   .hecho {
       position: fixed;
       width: 100%;
       display: block;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
       z-index: 1;
   }
   
   .alert {
       width: fit-content;
       position: fixed;
       top: 35%;
       left: 30%;
       height: 15%;
       padding: 5px;
       border-radius: 5px;
       background-color: rgb(187, 255, 132);
   }
   
   .alert a {
       color: red;
       margin-left: 95%;
       cursor: pointer;
       float: left;
   }
   
   .imprimir {
       width: 100%;
   }
   
   .imprimir input[type=submit] {
       width: 100%;
       background-color: #3c8b3f;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   @media screen and (max-width:700px) {
       body .formfaltas {
           left: 5%;
           width: 80%;
       }
       body .formfaltas {
           font-size: 10px;
       }
   }
   
   .formfaltas {
       top: 15%;
       left: 35%;
       border-radius: 5px;
       width: 30%;
       background-color: #f2f2f2;
       padding: 20px;
       position: fixed;
   }
   
   .formfaltas input[type=submit] {
       width: 100%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .formfaltas input[type=date] {
       width: 100%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }
   
   .tabfal {
       position: absolute;
       width: 100%;
       height: fit-content;
       margin-left: 1px;
       top: 0;
       margin-left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
       z-index: 1;
   }
   
   .tablafal {
       width: 98.5%;
       padding: 10px;
       background-color: white;
       border-radius: 5px;
       position: relative;
   }
   
   .tablafal table {
       border-collapse: collapse;
       background-color: white;
       width: 100%;
   }
   
   #advertencia {
       position: fixed;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       display: block;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
       z-index: 1;
   }
   
   @media screen and (max-width: 480px) {
       body #caution {
           left: 5%;
           width: 80%;
       }
       body #caution a {
           font-size: 20px;
       }
       /* G327-A*/
       body #caution label {
           font-size: 20px;
       }
   }
   
   #caution {
       background-color: rgb(255, 196, 0);
       width: fit-content;
       position: fixed;
       top: 35%;
       left: 40%;
       padding: 20px;
       border-radius: 5px;
   }
   
   #caution a {
       color: red;
       cursor: pointer;
   }
   
   .volu {
       position: static;
       cursor: pointer;
       transition: 0.5s;
   }
   
   .volu:hover {
       background-color: rgba(255, 255, 255, 0.699);
   }
   
   .controlsa {
       display: inline-block;
       border-radius: 4px;
       border: none;
       background-color: rgb(170, 170, 170);
       padding: 3px;
       width: 20px;
       transition: 0.5s;
       margin: 5px;
   }
   
   .controlsa #volume1 {
       cursor: pointer;
       display: inline-block;
       position: relative;
       width: 0%;
       opacity: 0;
       transition: 0.5s;
   }
   
   .controlsa:hover #volume1 {
       margin-left: 25px;
       width: 70%;
       opacity: 1;
   }
   
   .controlsa:hover {
       width: 30%;
       background-color: rgba(129, 129, 129, 0.486);
   }
   
   .controlsa img {
       width: 20px;
       height: 20px;
       position: fixed;
       z-index: 1;
   }
   
   .skipp {
       width: 20px;
       height: 20px;
   }
   
   .Controlls {
       border: solid rgba(0, 0, 0, 0.158);
       background-color: rgb(170, 170, 170);
       right: 0;
       left: 0;
       text-align: center;
       padding: auto;
       position: relative;
   }
   
   .previus {
       float: left;
       margin: 5px;
   }
   
   .next {
       float: right;
       margin: 5px;
   }
   
   .Controlls button {
       display: inline-block;
       cursor: pointer;
       text-align: center;
       text-decoration: none;
       outline: none;
       color: #fff;
       background-color: rgba(255, 255, 255, 0.795);
       border: solid 1px #666;
       border-radius: 15px;
       box-shadow: 0 5px rgb(247, 247, 247);
   }
   
   .Controlls button:hover {
       background-color: rgba(170, 170, 170, 0.486);
   }
   
   .Controlls button:active {
       background-color: rgba(2, 41, 170, 0.486);
       box-shadow: 0 1px #666;
       transform: translateY(4px);
   }
   
   .reproductor {
       box-shadow: 0 5px 10px rgba(170, 170, 170, 0.733);
       position: relative;
       width: fit-content;
       height: fit-content;
       border-top: solid 2px rgba(255, 255, 255, 0.863);
       border-right: solid 2px rgba(255, 255, 255, 0.863);
       border-radius: 10px;
       padding: 5px;
       background-color: rgba(255, 0, 0, 0.884);
       bottom: 0;
   }
   
   .reproductor .status {
       width: 100%;
       color: rgb(255, 251, 0);
       font-size: 20px;
   }
   
   .reproductor .status span {
       position: absolute;
       right: 44%;
       background: rgb(255, 0, 0);
       border-left: 1px solid rgba(255, 0, 0, 0.884);
       animation: maquina 3s infinite alternate steps(4);
   }
   
   @keyframes maquina {
       from {
           width: 0%;
       }
       to {
           width: 9%;
       }
   }
   
   .reproductor #texto {
       font-size: 20px;
       background-color: rgb(155, 250, 253);
   }
   
   .reproductor #listado {
       background-color: rgba(255, 255, 255, 0.644);
       list-style: none;
   }
   
   .reproductor #cancions {
       font-size: 20px;
       color: yellow;
       height: fit-content;
   }